{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="container mg-top mg-bot">
        <div class="labado-item-container">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <a class="btn" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
            <a class="btn" href="{{ path('userInfoEdit') }}">Edit Information</a>
        </div>
    </div>
</div>
