<div class="container laundry-shop-detail">
    <div class="row">
        <div class="col s12 m3">
            <img src="{{asset('images/default_laundry.png')}}">
        </div>
        <div class="col s12 m9">
            <h4>{{ laundry_shop.getName() }}</h4>
            <p id="address">{{ laundry_shop.getAddress() }}</p>
            <p id="phone_number">{{ laundry_shop.getPhoneNumber() }}</p>
            <h5>Rates:</h5>
            {% for service in laundry_shop.getServices() %}
                <li>{{ service.type }} - &#8369;{{ service.pricePerKilo }}</li>
            {% endfor %}
            <a class=" right waves-effect waves-light btn blue" href=" {{ path('inputEstimate',{'id': laundry_shop.getId()}) }} ">Choose</a>
        </div>
    </div>
</div>



