{% extends 'base.html.twig' %}
{% block title %}{{shop.getName() }}{% endblock %}
{% block body %}
    {{ form_start(form,{ 'attr': {'id': 'estimate'} } ) }}
    <div class="container labado_body_container">
        <div class="row header">
            <div class="col s4 bold">Type</div>
            <div class="col s4">Price</div>
            <div class="col s4">Est. Weight</div>
        </div>

        {% for index, service in shop.services %}
        <div class="row rowtype"> 
            <div class="col s4">
                {{ service.getType() }}
            </div>
            <div class="col s4">
                <div class="result">&#8369;0.00</div> 
            </div>
            <div class="col s4">
                {{ form_widget(form['service' ~ index], { 'attr': { 'data-rate': service.getPricePerKilo(), 'placeholder': 'Weight in Kilograms'  } } ) }}
            </div>
        </div>
        {% endfor %}

        <div class="row form-end">
            <div class="col s6 right">
                <input type="submit" value="Proceed" class="waves-effect waves-light btn-large" >
            </div>
            <div class="row col s6 right" id="total_price">
                
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var loadingImage = '<img src="{{ asset('img/loading.gif') }}" >';
    </script>

    <script src="{{asset('js/inputEstimate.js')}}"> </script>

{% endblock %}
{% block stylesheets %}
    <link href="{{asset('css/inputEstimate.css')}}" rel="stylesheet">
{% endblock %}
