{% extends 'base.html.twig' %}

{% block body %}
    <div class="container labado_body_container">
        {{ form_start(form,{ 'attr': {'id': 'estimate'} } ) }}
        <div class="row header">
            <div class="col s4 bold">Type</div>
            <div class="col s4">Price</div>
            <div class="col s4">Est. Weight</div>
        </div>
        <div class="row rowtype"> 
            <div class="col s4">
                White
            </div>
            <div class="col s4">
                <div class="result" id="amount_1">P0.00</div> 
            </div>
            
            <div class="col s4">
            {{ form_widget(form.clothes_white,{ 'attr': { 'data-target': 'weight_1', 'placeholder': 'Amount' ,'maxlength': '2' } } ) }}
            </div>
        </div>
        <div class="row rowtype"> 
            <div class="col s4">
                Colored
            </div>
            <div class="col s4">
                <div class="result" id="amount_2">P0.00</div> 
            </div>
            
            <div class="col s4">
            {{ form_widget(form.clothes_colored,{ 'attr': {'data-target': 'weight_2', 'placeholder': 'Amount','maxlength': '2' } } ) }}
            </div>
        </div>

        <input type="submit" value="Proceed" class="right waves-effect waves-light btn" >
        <!-- out 
        {{ form_widget(form.clothes_colored,{ 'attr': {'id': 'quantity'} } ) }}

        {{ form_widget(form.bedsheets_white,{ 'attr': {'id': 'quantity'} } ) }}

        {{ form_widget(form.bedsheets_colored,{ 'attr': {'id': 'quantity'} } ) }}
        -->
        {{ form_end(form) }}
    <div>
{% endblock %}

 {% block javascripts %}
 <script>
    $(function() {
    $( "#estimate .rowtype" ).on( "keyup", "input", function() {
        //this is a temp rate
        var rate = {{rate}};
        var val = parseFloat($(this).val());
        var appendToId = $(this).attr('data-target').toString();
        //alert('#amount'+appendToId.charAt(appendToId.length-1));
        if((rate*val)+"" !="NaN")
            $('#amount_'+appendToId.charAt(appendToId.length-1) ).html("P"+(rate*val)+".00");
        else
            $('#amount_'+appendToId.charAt(appendToId.length-1) ).html("P0.00");

    });
    $( "#estimate" ).on( "focus", ".rowtype", function() {
        $(this).addClass("focus");
    });
    $( "#estimate" ).on( "focusout", ".rowtype", function() {
        $(this).removeClass("focus");
    });


});
 </script>

 {% endblock %}
{% block stylesheets %}
<style>
    .focus{
        border-radius:10px 10px;
        background-color:rgb(235,235,235);
        padding:15px;
        font-weight:bold;

    }

    .header{
       border-bottom:1px dotted #666; 
       padding:15px;
       font-weight:bold;

    }
    .labado_body_container{
        text-align:center;
        margin-top:20px !important;
        padding:20px;
        background-color:rgb(250,250,250);
        border-radius:5px;
        box-shadow:0px 1px 1px 0px black;
    }
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
