{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin'}}) }}
    {{form_errors(form)}}
    <div id="registration" class="container row mg-top">
        <div class="col s12 m6 offset-m3 labado-item-container">
            <div id="header">
                <h5 class="center-align">REGISTER</h5>
                <ul id="ErrorMessage" class="center-align red white-text">
                </ul>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                {{ form_widget(form.email, { "attr": { "class": "validate " } }) }}
                {{ form_label(form.email,'Email', { "label_attr": { "class": "formlabel", 'data-error': 'Invalid Email' } }) }}
            </div>
            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                {{ form_widget(form.username, { "attr": { "class": "validate " } }) }}
                {{ form_label(form.username,'Username' , { "label_attr": { "class": "formlabel", 'data-error': 'Username must be atleast 4 characters' } }) }}
            </div>
            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                {{ form_widget(form.plainPassword.first, { "attr": { "class": "password-input" } }) }}
                {{ form_label(form.plainPassword.first, 'Password', { "label_attr": { "class": "formlabel" } }) }}
            </div>
            <div class="input-field">
                <i class="material-icons prefix">enhanced_encryption</i>
                {{ form_widget(form.plainPassword.second, { "attr": { "class": "password-input" } }) }}
                {{ form_label(form.plainPassword.second, 'Confirm Password', { "label_attr": { "class": "formlabel" } }) }}
            </div>
            {{ form_widget(form._token) }}

            <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-primary btn-block right indigo" />
        </div>
        <div class="mg-top col s12 center-align">Already a member? <a href="{{ path('fos_user_security_login') }}">Login</a></div>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
