{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    <div class="container row">
        <div class="col s12 m6 offset-m3  labado-item-container">
            <h5 class="center-align">LOGIN</h5> 
            
            {% if error %}
                <div id="error-container" class="center-align red white-text">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            ￼{% endif %}

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" id="password" name="_password" required="required" class="form-control " />
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>

            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" class="filled-in" >
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="right">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block" />
            </div>
        </div>
        <div class="mg-top col s12 center-align">Not a member? <a href="{{ path('fos_user_registration_register') }}">Register</a></div>
    </div>
</form>