{% trans_default_domain 'FOSUserBundle' %}

<div class="container row mg-top">
    <div class="col s12 m6 offset-m3 labado-item-container">
        <h5 class="center-align">CHANGE PASSWORD</h5>
        <ul id="form-error-message" class="center-align red white-text">
        </ul>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="input-field">
                {{ form_widget(form.current_password) }}
                {{ form_label(form.current_password,'Current Password') }}
            </div>
            <div class="input-field">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first,'New Password') }}
            </div>
            <div class="input-field">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second,'Confirm Password') }}
            </div>
            <div class="input-field">
                <input class="btn right" type="submit" value="CHANGE" />
            </div>
            {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>
