{% extends "::base.html.twig" %}

{% block title %}CodingAvenueLabadoBundle:UserInformation:edit{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/user_information.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container row mg-top">
        <div class="col s12 m6 offset-m3 user-information-container">
        <h5 class="center-align">Update information</h5>
        {{ form_start(form) }}
            <div class="input-field">
                {{ form_widget(form.address) }}
                <label for="address">Address</label>
            </div>
            <div class="input-field">
                {{ form_widget(form.landmark) }}
                <label for="landmark">Landmark</label>
            </div>
            <div class="input-field">
                {{ form_widget(form.contact_number) }}
                <label for="contact_number">Contact number</label>
            </div>
            <input type="submit" class="btn right" value="Update">
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
